h1{
    background-color: rebeccapurple;
    text-align: center;
    color: white;
    padding: 5vh 5vh;
    font-size: 50px;
    border-radius: 10vh 5vw 0vh 0vw;
    margin-bottom: 0px;
}

.navbar{
    background-color: rgba(238, 130, 238, 0.74);
    margin-top: 0px;
    padding: 5vh 5vw 3vh 5vw;
    font-size: 25px;
    border-radius: 0vh 0vw 5vh 2.5vw;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin: 0vh 9vw 0vh 9vw;
}

.navbar a:hover{
    text-decoration: underline;
}

.main img{
    height: 350px;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 7.5px;
}

.main a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.main a:hover{
    color:darkblue;
    text-decoration: underline;

}

main img:hover{
    border: 2px solid black;
}

footer{
    background-color: rebeccapurple;
    color: white;
    padding: 0.1vh 1vw 0.1vh 2vw;
    margin-top: 50px;
    border-radius: 5px;
}

#anime{
    background-color: rebeccapurple;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
}

body{
    background-color: lightgray;
}
#broly{
    margin-left: 95px;
}
#naruto{
    margin-left: 125px;
}
#punch{
    margin-left: 140px;
}
#note{
    margin-left: 185px;
}
#titans{
    margin-left: 115px;
}
#haikyu{
    margin-left: 185px;
}
#vinland{
    margin-left: 198px;
}
#kaisen{
    margin-left: 175px;
}